<body class="flex justify-center text-center p-8">
  <div>
    <h2>{{ isLoginMode ? 'Login' : 'Cadastro' }}</h2>
    <!-- se for login aparece Login senão Cadastro -->

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col text-start">
      <!--  -->

      @if (!isLoginMode) {
        <div class="flex flex-col">
          <label for="name">Nome:</label>
          <input id="name" formControlName="name" class="bg-white text-gray-400 rounded" />
        </div>
      }

      <label for="email">Email :</label>
      <!--Aqui vale pra login e pra Cadastro  -->
      <input
        id="email"
        type="email"
        formControlName="email"
        class="bg-white text-gray-400 rounded"
      />

      <label for="password">Senha :</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        [placeholder]="isLoginMode ? '' : 'Informe pelo menos 6 digitos'"
        class="bg-white text-gray-400 rounded"
      />
      @if (!isLoginMode) {
        <div class="flex flex-col">
          <label for="cargo">Cargo:</label>
          <input id="cargo" formControlName="cargo" class="bg-white text-gray-400 rounded" />
        </div>
      }

      <!--Aqui vale pra login e pra Cadastro  -->
      <button type="submit">{{ isLoginMode ? 'Entrar' : 'Cadastrar' }}</button>
    </form>

    <p>
      {{ isLoginMode ? 'Não tem Conta?' : 'Já tem conta?' }}
      <button (click)="toggleMode()">{{ isLoginMode ? 'Criar conta' : 'Fazer login' }}</button>
    </p>
  </div>
</body>
